<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd"
	default-autowire="byName">
	
	<!--视图配置 -->
	<bean id="ViewResolver" class="com.qp.common.web.view.QpVelocityLayoutViewResolver">
		<property name="velocityUrl" ref="velocityUrl"></property>
		<property name="velocityTools" ref="velocityTools"></property>
		<property name="suffix" value=".vm" />
		<property name="contentType" value="text/html;charset=utf-8" />
		<property name="dateToolAttribute" value="dataTool" />
		<property name="numberToolAttribute" value="numberTool" />
		<property name="exposeRequestAttributes" value="true" />
		<property name="exposeSessionAttributes" value="true" />
		<property name="layoutUrl" value="layout/default.vm" />
	</bean>

	<!--velocity视图 -->
	<bean id="velocityConfigurer"
		class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<property name="resourceLoaderPath">
			<value>/WEB-INF/vm/</value>
		</property>
		<property name="velocityProperties">
			<props>
				<prop key="input.encoding">utf-8</prop>
				<prop key="output.encoding">utf-8</prop>
				<prop key="velocimacro.library">common/macro.vm</prop>
				<prop key="layoutUrl">layout/default.vm</prop>
				<prop key="layoutKey">layout</prop>
				<prop key="screenContentKey">screen_content</prop>
			</props>
		</property>
	</bean>

	<!--页面公共url -->
	<bean id="velocityUrl" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<!--本系统自己地址 -->
				<entry key="homeModule">
					<bean class="com.qp.common.web.url.QpUrl">
						<property name="url" value="http://${loan.domain}/" />
					</bean>
				</entry>
			</map>
		</constructor-arg>
	</bean>

	<!-- 自定义工具bean -->
	<bean id="velocityTools" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<entry key="stringUtils">
					<bean class="org.apache.commons.lang.StringUtils"></bean>
				</entry>
				<entry key="dateFormatUtils">
					<bean class="org.apache.commons.lang.time.DateFormatUtils"></bean>
				</entry>
			</map>
		</constructor-arg>
	</bean>
</beans>