#set($nav_1st="用户管理" ) #set($nav_2nd="前台用户" )
<script src="${staticServer}/bu2x/js/user/list.js"></script>
<div class="grid" style="width: 100%; float: left; height: 500px;">
	<div class="toolbar" style="height:32px;">
		<div id="myButtons" style="width: 100%; float: left; height: 30px;">
			#if($!firstInit =="true")
			<button type="button" id="serachorderBtn"
				class="btn btn-white btn-info btn-bold">
				<span class="glyphicon glyphicon-search"></span>高级搜索
			</button>
			#else
			<button type="button" id="_serachorderBtn"
				class="btn btn-white btn-info btn-bold">
				<span class="glyphicon glyphicon-search"></span>搜索
			</button>
			#end
		</div>
	</div>
	<div style="clear:both;height:10px;"></div>
	<form id="userListForm" role="form" method="post" action="list.do">
		<input id="firstInit" name="firstInit" value='$!firstInit' type="hidden" />
		<input id="page" type="hidden" name="page" value="0" />
		#if($!firstInit =="true")
		<div id="searchcbox" style="width: 100%;height:64px;display:none;">
		#else
		<div id="searchcbox" style="width: 100%;height:64px">
		#end
			<div class="col-xs-12">
				<div class="col-xs-4">
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1">用户ID</label>
						<div class="col-sm-9">
							<span class="input-icon"><input type="text" id="userId" name="userId" value='$!query.userId' /><i class="ace-icon fa fa-leaf blue"></i><span>
						</div>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1">用户账号</label>
						<div class="col-sm-9">
							<span class="input-icon"><input type="text" id="userAccount" name="userAccount" value='$!query.userAccount' /><i class="ace-icon fa fa-leaf blue"></i><span>
						</div>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1">用户昵称</label>
						<div class="col-sm-9">
							<span class="input-icon"><input type="text" id="userNick" name="userNick" value='$!query.userNick' /><i class="ace-icon fa fa-leaf blue"></i><span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="space-4"></div>
				<div class="col-xs-4">
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1">用户状态</label>
						<div class="col-sm-9">
							<select class="col-xs-10 col-sm-9" id="userStatus" name="userStatus">
								<option value="">全部</option>
								#foreach($status in $!validStatusMap.keySet())
									<option value='$!status' #if($!status == $!query.userStatus)selected="true" #end>$!validStatusMap.get($status)</option>
								#end
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<div style="clear:both;height:10px;"></div>
	<div class="row">
		<div class="col-xs-12">
			<div>
				<table id="userTable"
					class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>用户ID</th>
							<th>用户账号</th>
							<th>用户昵称</th>
							<th>用户状态</th>
							<th>注册时间</th>
							<th><i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>操作</th>
						</tr>
					</thead>

					<tbody>
						#foreach($user in $userList)
						<tr>
							<td>$!user.userId</td>
							<td>$!user.userAccount</td>
							<td>$!user.userNick</td>
							<td>$!validStatusMap.get($!user.userStatus)</td>
							<td>$!bu2xTimeUtil.getStringFromDate($!user.registerTime, "yyyy-MM-dd HH:mm:SS")</td>
							<td>
								<div class="hidden-sm hidden-xs action-buttons">
									<a class="blue" href="detail.do?userId=$user.userId" title="查看详情"><i class="ace-icon glyphicon glyphicon-edit  bigger-130"></i></a>
								</div>
							</td>
						</tr>
						#end
					</tbody>
				</table>
				#if($!userList.totalItem > 0)
					#set($startRow = $!userList.startRow + 1)
				#else
					#set($startRow = 0)
				#end
				#set($endRow = $!userList.startRow + $!userList.size())
				#if($!userList.totalPage && $!userList.totalPage>1)
					#showPage($!userList.index $!userList.totalPage $!startRow $!endRow $!userList.totalItem) 
				#else 
					#showPage( 1 1 $!startRow $!endRow $!userList.totalItem) 
				#end
				<script type="text/javascript">
					//index 跳转的目标页，total总页数
					var toPage = function(index, total) {
						index = index < 1 ? 1 : index;
						index = index > total ? total : index;
						$("#page").val(index);
						$("#userListForm").submit();
					};
				</script>
			</div>
		</div>
	</div>
</div>