<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>用户登录</title>

<link rel="stylesheet" href="${staticServer}/ace/css/bootstrap.min.css" />
<link rel="stylesheet" href="${staticServer}/ace/css/font-awesome.old.min.css" />
<link rel="stylesheet" href="${staticServer}/ace/css/ace-fonts.css" />
<link rel="stylesheet" href="${staticServer}/ace/css/ace.min.old.css" />
<link rel="stylesheet" href="${staticServer}/ace/css/ace-skins.min.css" />
<link rel="stylesheet" href="${staticServer}/ace/css/ace-rtl.min.css" />

<script src="${staticServer}/ace/js/ace-extra.min.js"></script>

#set($layout = "/layout/loginIndex.vm")

<script type="text/javascript">
	$(document).keypress(function(e) {
		if (e.which == 13) {
			login();
		}
	}); 
	
	function login() {
		var userPin = $("#userPin").val();
		var userPwd = $("#userPwd").val();
		var rp = $("#rp").val();
		if (userPin == "") {
			alert("请输入用户名！");
			$("#userPin").focus();
			return false;
		}
		if (userPwd == "") {
			alert("请输入登录密码!");
			$("#userPwd").focus();
			return false;
		}
		else {
			var config = {
				loginName:userPin,
				password:userPwd,
			};
			
			jQuery.ajax({
				type : "POST",
				url : "/uc/loginService.do",
				data: config,
				cache : false,
				success: function (ret) {
					if(ret.code!=='success'){
						alert(ret.result);
						return ;
					}
					var returnUrl = "/index.do";
					if(location.search&&location.search>0){
						returnUrl = location.search.substr(1);
					}
					location.href = returnUrl;
										
				}
			});
		}
	}
</script>

</head>

<body class="login-layout">
    <div class="main-container">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="login-container">
                        <div class="center">
                            <h1>
                                <i class="ace-icon fa fa-leaf green"></i>
                                <span class="red">用户登录</span>
                            </h1>
                            <h4 class="blue" id="id-company-text">&copy; OSII管理后台</h4>
                        </div>
                        <div class="space-6"></div>
                        <div class="position-relative">
                            <div id="login-box" class="login-box visible widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header blue lighter bigger">
                                            <i class="ace-icon fa fa-coffee green"></i>
                                            请输入你的信息
                                        </h4>
                                        <div class="space-6"></div>
                                        <form action="" name="form" method="post">
                                            <fieldset>
                                                <label class="block clearfix">
                                                	<span class="block input-icon input-icon-right">
                                                		<input type="text" name="userPin" id="userPin" class="form-control" placeholder="用户名" />
                                                		<i class="ace-icon fa fa-user"></i>
                                                	</span>
                                                </label>
                                                <label class="block clearfix">
                                                	<span class="block input-icon input-icon-right">
                                                		<input type="password" name="userPwd" id="userPwd" class="form-control" placeholder="密码" />
                                                        <i class="ace-icon fa fa-lock"></i>
                                               		</span>
                                                </label>
                                                <div class="space"></div>
                                                <div class="clearfix">
                                                    <button type="button" onclick="login()" class="width-35 pull-right btn btn-sm btn-primary">
                                                        <i class="ace-icon fa fa-key"></i>
                                                        <span class="bigger-110">登录</span>
                                                    </button>
                                                </div>
                                                <div class="space-4"></div>
                                            </fieldset>
                                        </form>
                                        <div class="space-6"></div>
                                    </div>
                                    <!-- /.widget-main -->
                                </div>
                                <!-- /.widget-body -->
                            </div>
                            <!-- /.login-box -->
                        </div>
                        <!-- /.position-relative -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.main-content -->
    </div>
    <!-- /.main-container -->
</body>
</body>
</html>
